@import './reset.css';
@import './theme.css';
@import './base.css';

.all-in-one {
  display: flex;
  flex-direction: column;
  align-items: center;

  inline-size: 100%;
  block-size: var(--size);

  padding-block-start: var(--large-spacing);
  background-color: black;
  text-align: center;

  .card-header {
    color: var(--white);
    font-size: var(--large-text);
    margin-block-end: var(--small-spacing);
  }

  .second-header {
    color: var(--white);
    line-height: var(--line-normal);
    font-size: var(--base-text);
    margin-block-end: var(--x-small-spacing);
  }

  .button-set {
    display: flex;

    button {
      padding-block: var(--x-small-spacing);
      padding-inline: var(--small-spacing);
      border: none;
      border-radius: 999px;
      font-size: var(--xx-small-text);

      &.more {
        color: var(--white);
        background-color: var(--blue-200);
      }

      &.price {
        color: var(--blue-200);
        background-color: transparent;
        border: 1px solid var(--blue-200);
      }
    }

    button + button {
      margin-left: var(--base-spacing);
    }
  }

  .card-image {
    flex: 1;
    inline-size: clamp(320px, 60vw, 734px);
    block-size: clamp(240px, 45vw, 548px);

    background-image: url(../products/iphone15_pro.jpeg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -100px;
  }
}

/* wide screen */
@media (min-width: 1024px) {
  .all-in-one {
    padding-block-start: var(--extra-large-spacing);

    .card-header {
      font-size: var(--extra-large-text);
    }

    .second-header {
      font-size: var(--medium-text);
    }

    .button-set button {
      font-size: var(--x-small-text);
    }

    .card-image {
      inline-size: 734px;
      block-size: 548px;

      background-image: url(../products/iphone15_pro_wide.jpeg);
      background-size: 300% auto;
      background-position-y: -100px;
    }
  }
}
