ul {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  list-style: none;
  padding: 0;
  gap: 20px;
}

li {
  position: relative;
  width: 200px;
  height: 200px;
}

img {
  border-radius: 150px;
}

.status-dot {
  position: absolute;
  right: 5px;
  bottom: 5px;

  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px solid white;
  z-index: 10;
}

.status-dot.online {
  background-color: #2ecc71;
}

.status-dot.offline {
  background-color: #95a5a6;
}
