/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
:root {
  /* 16px이 기본 */
  --font-base: 1rem;
  --color-text: #121212;
  --color-main: #03cf5d;
  --color-border: #dadada;
  --color-focus: #24388d;
  --color-bg: #fff;
  --color-focus-bg: #e9f0fd;
}

html {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 스크린 리더 전용 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

form {
  background: yellow;
  padding: 0px;
  box-sizing: border-box;
}

/* filedset border 없애기 */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.login-form {
  width: 100%;

  &input {
    width: 100%;
  }
}

.form-input {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-text {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.input-field {
  width: 100%;
  height: 48px;
  padding: 10px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  height: 56px;
  padding: 10px;
  background-color: var(--color-main);
  color: white;
  border: none;
  cursor: pointer;
}

/* id : 기본 체크박스 제거하기 */
#login-remember {
  display: none;
  align-items: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .login-form {
    width: 31.25rem;
  }
}
